<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="csWindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <csWindowsFormsApp1.Properties.Settings>
            <setting name="SettingDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingOpenBracket" serializeAs="String">
                <value>«</value>
            </setting>
            <setting name="SettingCloseBracket" serializeAs="String">
                <value>»</value>
            </setting>
            <setting name="SettingCodeLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingTitleText" serializeAs="String">
                <value>DZ</value>
            </setting>
            <setting name="SettingTitleTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingFrequency" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SettingDB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SettingSpecialKey" serializeAs="String">
                <value>RControlKey</value>
            </setting>
        </csWindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>